.flower{
    border: 1px;
    background-color: lightblue;
    display: flex;
}
.heading{
    text-align: center;
    text-align-last: left;
    margin-block:auto;
    padding-left: 100px;
    font-size: x-large;
    font-weight: initial;
    
}
.btn-primary{
        background-color:rgb(255, 0, 0);
        border-radius: 10px;
        padding:10px;
        color:white;
        font-weight: bold;
        font-size: 18px;
        border-color: white;
        transition-duration: 0.4s;
 }

 .btn-primary:hover{
 background-color: rgb(6, 220, 6);}
.flwr-img{
        shape-image-threshold: 50%;
}
        
.quotes{
            text-align-last: initial;
}

.png-img{
    display:flex;
    padding-left:50px;
}
.png6{
            background-color:rgb(235, 217, 217) ;
            image-orientation: initial;
            border-radius: 250px 250px 0px 0px;
            height:400px;
            width:1100;
}
.png5{
            background-color: rgb(206, 243, 231);
            image-orientation: initial;
            border-radius: 250px 250px 0px 0px;
            height:400px;
            width:1100;
}
        
.png7{
            background-color: rgb(247, 239, 222);
            border-top-right-radius: 10%;
            border-radius: 250px 250px 0px 0px;
            image-resolution: 100%;
            height:400px;
            width:2000;
 }
        
.feature-short-text{
            text-align: center;
 }
.feature-short-text-imgP{
            
            padding-top: 10px;
}
        
.pinkflowertree{
            padding:2px;
            text-align: center;
            
}

.off{
            color: crimson;
 }
.deal{
            
            text-align: center;
            text-align-last: left;
            margin-block:auto;
            padding-left: 200px;
}
.dealandimg{
            
            border: 1px;
            background-color: lightblue;
            display: flex;
 }
.gram{
            text-align: center;
 }
        
.insta{
            
            background-color: white;
            background-size:0%;
}
        
.four-img{
            display: flex;
            padding-left: 100px;
}
.ima1{
    padding-right:5px;
    width:250px;
    height:300px;
    border-radius: 10px;
}
.ima2{
    padding-right:5px;
    width:250px;
    height:300px;
    border-radius: 10px;
}
.ima3{
    padding-right:5px;
    width:250px;
    height:300px;
    border-radius: 10px;
}
.ima4{
    padding-right:5px;
    width:250px;
    height:300px;
    border-radius: 10px;
}

.background{
    background-image: url("./Rectangle\ 9.png");
    background-size: cover;
    margin:100px;
    background-position: center;
    height: 300px;
}
.latest-deal{
    text-align: center;
    padding-top: 10px;
    
}

.Enter{
    text-align: center;
    padding :50px;

}
.email{
    text-align: center;
    padding :10px;
    width: 400px;
}
.flowershop{
    background-color: black;
    color:white;
    height:250px;
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.flow{
    color: crimson;
}
.copy{
    color: rgb(122, 118, 118);
}

.contact{
    text-align: left;
    padding-left:150px;
    padding-top:30px;
}
.text{
    margin-left:140px;
}
.page{
    color: rgb(38, 150, 248);
}
     
                 
    